{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 text-center">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="sub-heading">
                    <h1 class="display-4 logo-font text-black p-1">
                    Find your <span class="emphasis">dream</span> instrument <span class="emphasis">TODAY!</span>
                    </h1>
                </div>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
<!-- Shop by category section -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pt-5 blog-ctn bg-white">
                <div class="text-center py-4">
                    <h3 class="text-black">
                        Shop by category below:
                    </h3>
                </div>
                <div class="row justify-content-center">
                    {% for category in categories %}
                    <div class=" col-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card my-5">
                            <div class="card-body">
                                <div class="image-container">
                                    <a href="{% url 'products' %}?category={{ category.name }}" class="post-link">
                                    {% if "placeholder" in category.featured_image.url %}
                                    <img class="card-img-top zoom"
                                        src="/media/noimage.png">
                                    {% else %}
                                    <img class="card-img-top zoom" src=" {{ category.featured_image.url }}" alt=" {{ category.friendly_name }} ">
                                    {% endif %}
                                </div>
                                    <p class="card-title text-black text-center py-3">{{ category.friendly_name }}</p>
                                    <div>
                                    </div>
                                    </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}   
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
