{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 text-center">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="sub-heading">
                    <h1 class="display-4 logo-font text-black p-1">
                    Find your <span class="emphasis">dream</span> instrument <span class="emphasis">TODAY!</span>
                    </h1>
                </div>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
<!-- container for highlighted product categories -->
    <div class="container-fluid category-highlighted py-5">
        <div class="text-center">
            <!-- <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"> -->
                <h3 class="text-black">
                    Shop by category below:
                </h3>
                <div class="row my-5 align-items-center justify-content-center">                 
                    <div class="col-10 col-lg-3 col-xl-2">
                        <a href="{% url 'products' %}?category=electric_guitars">
                            <div class="card p-3">
                                <img class="card-img-top zoom" src="/media/14991870_800-crop.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title text-black">Electric Guitars</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-10 col-lg-3 col-xl-2">
                        <a href="{% url 'products' %}?category=acoustic_guitars">
                            <div class="card p-3">
                                <img class="card-img-top zoom" src="/media/14991870_800-crop.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title text-black">Acoustic Guitars</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-10 col-lg-3 col-xl-2">
                        <a href="{% url 'products' %}?category=accessories">
                            <div class="card p-3">
                                <img class="card-img-top zoom" src="/media/14991870_800-crop.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title text-black">Accessories</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-10 col-lg-3 col-xl-2">
                        <a href="{% url 'products' %}?category=amplifiers">
                            <div class="card p-3">
                                <img class="card-img-top zoom" src="/media/14991870_800-crop.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title text-black">Amplifiers</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>

{% endblock %}