<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 emph-black-bg" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 emph-black-bg" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 emph-black-bg" href="#" id="guitars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Guitars
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="guitars-link">
                <a href="{% url 'products' %}?category=electric_guitars" class="dropdown-item">Electric Guitars</a>
                <a href="{% url 'products' %}?category=acoustic_guitars" class="dropdown-item">Acoustic Guitars</a>
                <a href="{% url 'products' %}?category=electric_acoustic_guitars" class="dropdown-item">Electric Acoustic Guitars</a>
                <a href="{% url 'products' %}?category=electric_guitars,acoustic_guitars,electric_acoustic_guitars" class="dropdown-item">All Guitars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 emph-black-bg" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=strings" class="dropdown-item">Strings</a>
                <a href="{% url 'products' %}?category=tuners" class="dropdown-item">Tuners</a>
                <a href="{% url 'products' %}?category=strings,tuners" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black emph-black-bg" href="#" id="blog-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blog-link">
                <a href="{% url 'blog' %}" class="dropdown-item">All Posts</a>
            </div>
        </li>
    </ul>
</div>