{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- <div class="row">
                <div class="col-md-6"> -->
                    <div class="card blog-ctn">
                        <div class="card-body p-5">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dscoft3v6/image/upload/v1687005276/CI%20-%20PP4%20-%20assets/pexels-pixabay-33129_wusex2.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt=" {{ post.alt_tag }} ">
                                {% endif %}
                            </div>
                                <h2 class="card-title text-center py-3">{{ post.title }}</h2>
                                <div>
                                </div>
                                <p class="card-text">{{ post.content | safe }}</p>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}}</p>
                        </div>
                    </div>
                </div>

            <!-- </div>
            </div> -->
        </div>
    </div>

</div>





{% endblock %}