{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                    <div class="text-center mt-5"><h3>Customer Reviews</h3>
                        <hr
                        class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #000000; height: 2px"
                        />
                    </div>
                    {% for productreview in review %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            <!-- The reviewer's's name goes here. -->
                            {{ productreview.name }}
                            <span class=" text-muted font-weight-normal">
                                <!-- The review's created date goes here -->
                                {{ productreview.created_on }}
                            </span> wrote:
                        </p>
                        <!-- The body of the review goes before the | -->
                        {{  productreview.body | linebreaks }}
                    </div>
                    {% if user.is_superuser %}
                    <div>
                        <button class="btn"><a href="">Edit Review</a></button>
                        <button class="btn"><a id="remove_{{ item.item_id }}">Delete Review</a></button>
                    </div>
                    {% endif %}
    <!-- Our for loop ends here -->
    {% endfor %}
    {% if reviewed %}
                <div class="alert alert-success" role="alert">
                    Your review is awaiting approval
                </div>
    {% else %}
    {% if user.is_authenticated %}

                <h4>Leave a review:</h4>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ review_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-black rounded-0 text-uppercase mt-5">Submit</button>
                </form>
    {% else %}
                <h4>Leave a review:</h4>
                <div>
                    <button class="btn btn-outline-black rounded-0"><a href="{% url 'account_login' %}">Log in</a></button> or <button class="btn btn-outline-black rounded-0"><a href="{% url 'account_signup' %}">Signup</a></button> to leave a review of this product</a>
                </div>
    {% endif %}
    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}